<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing component</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-danger">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Hospitality</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  services
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">chat support</a></li>
                  <li><a class="dropdown-item" href="#">contact us</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li> -->
            </ul>
            <!-- <div class="align-right"> -->
                <ul>
                   <a class="nav-link active" aria-current="page" href="#">Registration</a>
                    <a class="nav-link active" aria-current="page" href="#">Login</a>
            <!-- </div> --> 
                </ul>
                    
            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
    </nav>
    <header class="masterhead text-white text-center">
        <div class="container d-flex align-items-center flex-column pt-6rem">
            <!-- Masterhead Avatar Image-->
            <img class="masterhead-avatar mb-5" src="../../assets/images/avatar.png" alt="...">
            <!-- Masterhead Heading-->
            <h1 class="masthead-heading text-uppercase fw-bold">Start Bootstrap</h1>
            <!-- Icon Divider-->
            <div class="custom-divider divider-light">
                <div class="custom-divider-line"></div>
                <img class="custom-divider-icon" src="../../assets/images/star-solid.svg" alt="star">
                <div class="custom-divider-line"></div>
            </div>
            <!-- Masterhead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0 fw-semibold">Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </header>
</body>
</html>
