.masterhead {
    padding: 12rem 0;
    background-color: #1ABC9C;

        .masterhead-avatar {
        border-radius: 50%;
        }
        .custom-divider {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .divider-light {
            .custom-divider-line {
                
                width: 100%;
                height: 6px;
                max-width: 120px;
                background-color: #fff;
            }
            .custom-divider-icon {
                width: 30px;
                height: 30px;
                text-align: center;
                margin: 10px;
                fill: #fff;
            }
            
        }
}