<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing component</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg  fix-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Hospitality</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse row" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 col">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  services
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">chat support</a></li>
                  <li><a class="dropdown-item" href="#">contact us</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <!-- <li class="nav-item ms-auto">
                <a class="nav-link " href="#">Registration</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " routerLink="/login">Login</a>
              </li> -->
            </ul>
            <div class="d-flex col gap-4">
                <a class="nav-link ms-auto" routerLink="/registration">Registration</a>
                <a class="nav-link me-auto" aria-current="page" routerLink="/login">Login</a>
            </div>
          </div>
        </div>
    </nav>
    <header>
      <div class="row container-fluid landing-header pt-5">
        <div class="col mt-5 ms-5">
          <h1 class="main-head text-capitalize">hospital management</h1>
          <p class="sub-head mt-5">
            Introducing our groundbreaking healthcare IT solution, 
            a Web-Based Hospital Management System. This innovative platform streamlines operations, 
            elevates patient care, and enhances overall efficiency for healthcare facilities. 
            Experience the future of healthcare management with us.
          </p>
        </div>
        <div class="col mt-2">
          <img class="head-img w-75 h-75 ms-5 me-2" src="../../assets/images/Doctors-img.png">
        </div>
      </div>
    </header>
    <section class="features-body">
      <h1 class="features-head text-center">Explore Our Service</h1>
    </section>
</body>
</html>
