<div class="form-table" align="center">
    <h3 class="text-info">Crud Operations</h3>
    <div class="studentsdata m-4 d-flex flex-column justify-content-center align-items-center">
        <div class="fname-field d-flex gap-4 m-3">
            <label>FirstName:</label>
            <input type="text" class="form-control fname" [(ngModel)]="fname">
        </div>
        <div class="lname-field d-flex gap-4 m-3">
            <label>LastName:</label>
            <input type="text" class="form-control lname" [(ngModel)]="lname">
        </div>
        <div class="address-field d-flex gap-4 m-3">
            <label>Address:</label>
            <input type="text" class="form-control address" [(ngModel)]="address">
        </div>
        <div class="btn-group-md d-md-flex justify-content-md-start">
            <button type="submit" class="add-details btn btn-success rounded ms-5" (click)="addStudent()"
                *ngIf="showAddStudentbtn">Add Student</button>
            <span type="button" class="add-details btn btn-outline-info rounded ms-5 px-3 py-1"
                (click)="updateStudent()" *ngIf="!showAddStudentbtn">Update</span>
        </div>
    </div>
    <table class="table table-bordered border-primary ms-3 w-50">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let student of students; let i = index'>
                <td>{{student.firstname}}</td>
                <td>{{student.lastname}}</td>
                <td>{{student.address}}</td>
                <td class="d-flex flex-row justify-content-evenly">
                    <span type="button" class="btn btn-outline-danger" (click)="deleteStudent(i)"><i
                            class="bi bi-trash"></i></span>
                    <button class="btn btn-outline-primary" (click)="editStudent(i)"><i
                            class="bi bi-pencil-square"></i></button>
                </td>

            </tr>
        </tbody>
    </table>
</div>